/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 1

   ACGIP Registration Validation Style Sheet
      Author: Todd Adcox Jr
      Date:  1-15-19   

   Filename: cg_validate.css

*/


/* whenever you click on an input box, text area or select box, the background of it is going to change to yellow.  */
/* Validation Styles */
input:focus,
select:focus,
textarea:focus {
    background-color: rgb(245, 245, 140);
}

/* when the user types in a valid entry the background is going to change to green and a green check mark is going to show at the end of the box. */
input#fnBox:focus:valid,
input#lnBox:focus:valid,
input#addBox:focus:valid,
input#mailBox:focus:valid,
input#phoneBox:focus:valid,
input#idBox:focus:valid {
    background: rgb(220, 255, 220) url(cg_valid.png) bottom right/contain no-repeat;
}

/* when the user types in a invalid entry the background is going to change to red and a red x is going to show at the end of the box. */
input#fnBox:focus:invalid,
input#lnBox:focus:invalid,
input#addBox:focus:invalid,
input#mailBox:focus:invalid,
input#phoneBox:focus:invalid,
input#idBox:focus:invalid {
    background: rgb(255, 232, 232) url(cg_invalid.png) bottom right/contain no-repeat;
}